* {
    background: silver;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}


.title {
    background: black;
    color: lightcoral;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px 150px;
}

div{
    text-align: center;
}

img.burger {
    height: 200px;
    width: auto;
}

p {
    background: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: -10px 150px;
    margin-top: -250px;
    padding: 15px;
    padding-top: 250px;
    text-align: center;
    border: 2px black;
}

li {
    background: black;
    font-size: 30px;
    text-align: center;
    margin: -20px 150px;
    margin-left: 110px;
    padding: 15px;
    
}
